/*applying styles
*/
header {
    background-color: rgb(241,204,155);
    height: 100px;
    text-align: center;
    padding-top: 30px;
    font-size: 40px
}

nav {
    width: 30%;
    background-color:aqua;
    height: 300px;
}

nav ul {
    list-style-type: none;
}

